@import url("https://fonts.cdnfonts.com/css/helvetica-neue-3");

* {
  font-family: "Helvetica Neue", sans-serif;
}

.body {
  position: relative;
  background-image: url("C:\Users\leand\OneDrive\Área de Trabalho\projeto compasss - esboço\portal-compasss-esboço\src\assets\Ativo 3.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Cor branca com 50% de opacidade */
}
