body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f7f7f7;
  width: 100%;
}

div.flex-footer {
  padding: 0;
  margin-left: 5px;
  margin-top: 5px;
}
div.footer-info {
  display: flex;
  align-items: center;
  padding-left: 0.3rem;
}
.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px;
  border-radius: 0px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.topbar {
  background-color: #212529;
  padding: 0;
}
.topbar .container .row {
  margin: -7px;
  padding: 0;
}
.topbar .container .row .col-md-12 {
  padding: 0;
}
.topbar p {
  margin: 0;
  display: inline-block;
  font-size: 13px;
  color: #f1f6ff;
}
.topbar p > i {
  margin-right: 5px;
}
.topbar p:last-child {
  text-align: right;
}
header .navbar {
  margin-bottom: 0;
}
.topbar li.topbar {
  display: inline;
  padding-right: 18px;
  line-height: 52px;
  transition: all 0.3s linear;
}
.topbar li.topbar:hover {
  color: #1bbde8;
}
.topbar ul.info i {
  color: #131313;
  font-style: normal;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  top: 4px;
}
.topbar ul.info li {
  float: right;
  padding-left: 30px;
  color: #ffffff;
  font-size: 13px;
  line-height: 44px;
}
.topbar ul.info i span {
  color: #aaa;
  font-size: 13px;
  font-weight: 400;
  line-height: 50px;
  padding-left: 18px;
}
@media (max-width: 991px) {
  .social-network {
    border: none;
    margin: 0;
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  .social-network {
    border: none;
    margin: 0;
    padding-right: 0.9rem;
  }
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
  border: 0px solid #2d2d2d;
  padding: 5px 0 0;
  width: 32px;
  display: inline-block;
  text-align: center;
  height: 32px;
  vertical-align: baseline;
  color: #000;
}
ul.social-network {
  list-style: none;
  margin: 5px 0 10px -25px;
  float: right;
}
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: 0.3s ease-out;
  color: #fff;
}
a {
  color: #0a0a0a;
  text-decoration: none;
}
li {
  list-style-type: none;
}
.bg-image-full {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.bg-dark {
  background-color: #222 !important;
}
@media (max-width: 991px) {
  .mx-background-top-linear {
    background: -webkit-linear-gradient(
      45deg,
      #1b1e21 0%,
      #2da837 70%,
      #9ac553 70%
    );
    background: -webkit-linear-gradient(
      left,
      #1b1e21 0%,
      #2da837 70%,
      #9ac553 70%
    );
    background: linear-gradient(45deg, #2da837 0%, #9ac553 67%, #1b1e21 0%);
  }
}
@media (min-width: 992px) {
  .mx-background-top-linear {
    background: -webkit-linear-gradient(
      45deg,
      #1b1e21 0%,
      #2da837 70%,
      #9ac553 70%
    );
    background: -webkit-linear-gradient(
      left,
      #1b1e21 0%,
      #2da837 70%,
      #9ac553 70%
    );
    background: linear-gradient(45deg, #2da837 0%, #9ac553 63%, #1b1e21 0%);
  }
}
footer.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  padding: 5px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  background-color: #212529;
  width: 100%;
}
.fixed-bottom-custom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  min-width: 100%;
}
.footer-text {
  font-size: 9px;
  /* margin-bottom: 4px; */
}
footer.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 375px) {
  footer.footer {
    height: 9rem;
    font-style: italic;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding-top: 0.5rem;
  }
  img.logo-compasss {
    display: flex;
    height: 3rem;
    width: auto;
    align-items: end;
    padding-bottom: 0.3rem;
  }
  .flex-footer {
    position: absolute;
    top: 0;
    padding-top: 0.5rem;
    margin-top: 8px;
  }
  .text-xl {
    font-size: 12px;
    /* font-style: italic; */
  }
  div.footer-info {
    display: flex;
    font-size: 16px;
    text-align: start;
  }
  .footer-text {
    margin-left: 2px;
    /* margin-top: 3px; */
    font-size: 11px;
  }
}
@media (min-width: 376px) and (max-width: 500px) {
  footer.footer {
    height: 5rem;
    font-style: italic;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    padding-top: 0.5rem;
  }
  img.logo-compasss {
    display: flex;
    height: 2.7rem;
    width: auto;
    padding-bottom: 0.3rem;
    padding-right: 0.3rem;
  }
  .flex-footer {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.5rem;
    padding-left: 0.7rem;
  }
  .text-xl {
    font-size: 12px;
    /* font-style: italic; */
  }
  div.footer-info {
    display: flex;
    font-size: 14px;
  }
  .footer-text {
    margin-left: 3px;
    /* margin-top: 3px; */
    font-size: 10px;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  footer.footer {
    height: 5rem;
    font-style: italic;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    padding-top: 0.5rem;
  }
  img.logo-compasss {
    display: flex;
    height: 3.3rem;
    width: auto;
    padding-bottom: 0.3rem;
    padding-right: 0.3rem;
  }
  .flex-footer {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.5rem;
    padding-left: 0.7rem;
  }
  .text-xl {
    font-size: 17px;
  }
  div.footer-info {
    display: flex;
    font-size: 15px;
  }
  .footer-text {
    margin-left: 3px;
    /* margin-top: 1px; */
    font-size: 12px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  footer.footer {
    height: 4.5rem;
    font-style: italic;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    padding-top: 0.5rem;
  }
  img.logo-compasss {
    display: flex;
    height: 3.3rem;
    width: auto;
    padding-bottom: 0.3rem;
    padding-right: 0.3rem;
  }
  .flex-footer {
    display: flex;
    flex-direction: row !important;
    position: absolute;
    /* top: 0; */
    left: 0;
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    gap: 15px;
  }
  .text-xl {
    font-size: 20px;
  }
  div.footer-info {
    display: flex;
    font-size: 20px;
  }
  .footer-text {
    /* margin-left: 3px; */
    /* margin-top: 5px; */
    font-size: 11px;
  }
}
@media (min-width: 1025px) {
  footer.footer {
    height: 4.5rem;
    font-style: italic;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    padding-top: 0.5rem;
  }
  img.logo-compasss {
    display: flex;
    height: 3.3rem;
    width: auto;
    padding-bottom: 0.3rem;
    padding-right: 0.3rem;
  }
  .flex-footer {
    display: flex;
    flex-direction: row !important;
    position: absolute;
    left: 0;
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    gap: 15px;
  }
  .text-xl {
    font-size: 22px;
  }
  div.footer-info {
    display: flex;
    font-size: 20px;
  }
  .footer-text {
    /* margin-left: 3px; */
    /* margin-top: 3px; */
    font-size: 14px;
  }
}
@font-face {
  font-family: "compasss-font"; /* Nome que você deseja dar à fonte */
  src: url("../../assets/Striker-1GXl0.otf"); /* Caminho para o arquivo da sua fonte */
  /* Outras variações de fonte (se aplicável) */
  font-weight: normal; /* Peso da fonte */
  font-style: normal; /* Estilo da fonte */
}
.text-xl {
  width: 150px;
  height: auto;
  position: absolute;
  transform: translateY(-50%);
  left: 0;
  margin-left: 1rem;
  font-family: "compasss-font";
}
.content {
  display: flex;
  flex: 1;
}
@media (max-width: 425px) {
  .responsivity-dropdown {
    margin-left: 1rem;
  }
}
@media (min-width: 426px) {
  .responsivity-dropdown {
    margin-left: 2rem;
  }
}
@media (max-width: 1023px) {
  .flex-footer {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1025px) {
  .footer {
    height: 5.2rem;
  }
  .flex-footer {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 769px) {
  .flex-footer {
    vertical-align: middle;
    text-align: center;
  }
}
