.homepage-container {
  min-height: 100vh !important;
  display: flex;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td,
  th {
    vertical-align: middle;
  }
}

i {
  font-size: 25px;
}

.btn-primary,
.btn-success {
  background-color: transparent;
  border-radius: 20%;
  border: solid 1px gray;
  transition: 0.5;
}
.btn-primary:hover .bi-thermometer-snow {
  /* background-color: blue; */
  color: white;
}
.btn-success:hover .bi-thermometer-sun {
  color: white;
  transition: 0.5s;
}
.btn-success:hover {
  background-color: red;
  transition: 0.5s;
}

.bi-thermometer-sun {
  color: red;
}
.bi-thermometer-snow {
  color: blue;
}

.col-12 {
  border-radius: 30px !important;
}
